<div class="edit-modal container">
  <form [formGroup]="editForm" (ngSubmit)="editAuthor()" class="form">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" class="form-control" formControlName="fullName" placeholder="Author's Name">
    </div>
    <div class="form-group">
      <label for="nationality">Nationality</label>
      <input type="text" id="nationality" class="form-control" formControlName="nationality" placeholder="Author's Nationality">
    </div>
    <div class="form-group">
      <label for="born">Born</label>
      <div class="input-group">
        <input ngx-mydatepicker class="form-control" id="born" formControlName="born" [options]="myDatePickerOptions"
          [placeholder]="'mm/dd/yyyy'" #bornDp="ngx-mydatepicker">
        <div class="input-group-append">
          <button type="button" class="btn btn-sm btn-primary m-0 px-3 py-2" (click)="bornDp.clearDate()">
            <i class="fa fa-remove"></i>
          </button>
          <button type="button" class="btn btn-sm btn-primary m-0 px-3 py-2" (click)="bornDp.toggleCalendar()">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="died">Died</label>
      <div class="input-group">
        <input ngx-mydatepicker class="form-control" id="died" formControlName="died" [options]="myDatePickerOptions"
          [placeholder]="'mm/dd/yyyy'" #diedDp="ngx-mydatepicker">
        <div class="input-group-append">
          <button type="button" class="btn btn-sm btn-primary m-0 px-3 py-2" (click)="diedDp.clearDate()">
            <i class="fa fa-remove"></i>
          </button>
          <button type="button" class="btn btn-sm btn-primary m-0 px-3 py-2" (click)="diedDp.toggleCalendar()">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" rows="3" id="description" class="form-control" formControlName="description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="photoUrl">Photo</label>
      <input type="input" id="photoUrl" class="form-control" formControlName="photoUrl" placeholder="Photo URL"
        [attr.disabled]="true">
    </div>
    <div class="form-group">
      <div class="form-group">
        <app-photo-uploader (uploadSucceed)="photoUploaded($event)"></app-photo-uploader>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-block btn-primary" [disabled]="editForm.invalid">OK</button>
  </form>
</div>