<div class="card mt-3 mb-3">
  <div [ngClass]="'card-header white-text ' + headerClasss">
    <a type="button" class="btn-floating"><i class="fa fa-lg fa-star"></i></a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote">
      <p class="mb-0">
        <i class="fa fa-quote-left"></i>
        {{ text.length > 150 ? text.substr(0, 150) + '...' : text }}
      </p>
      <footer class="blockquote-footer float-right"><cite title="Source Title">{{ author }}</cite></footer>
    </blockquote>
  </div>
  <div class="card-footer">
    <a type="button" class="btn-floating"><i class="fa fa-lg fa-heart"></i></a>
    <a type="button" class="btn-floating float-right"><i class="fa fa-lg fa-share-alt"></i></a>
  </div>
</div>