<div class="card mt-3 mb-3">
  <div [ngClass]="'card-header white-text ' + headerClasss">
    <a type="button" class="btn-floating"><i class="fa fa-lg fa-star"></i></a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote">
      <p class="quote-text mb-0">
        <i class="fa fa-quote-left"></i>
        {{ quote.text.length > 150 ? quote.text.substr(0, 150) + '...' : quote.text }}
      </p>
      <footer class="quote-author blockquote-footer float-right"><cite>{{ quote.author.fullName }}</cite></footer>
    </blockquote>
  </div>
  <div class="card-footer">
    <a type="button" class="btn-floating" (click)="loveQuote()">
      <i class="fa fa-lg fa-heart" [class.pink-color]="isLoved"></i>
      {{ numOfLoves > 0 ? numOfLoves : null }}
    </a>
    <a type="button" class="btn-floating float-right"><i class="fa fa-lg fa-share-alt"></i></a>
  </div>
</div>