<div class="table-responsive">
  <table class="table table-hover">
    <thead class="primary-color white-text">
      <tr>
        <th *ngFor="let header of headers" scope="col">{{ header.text }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of elements">
        <td *ngFor="let header of headers">
          <app-table-cell [cellType]="header.type" [cell]="row[header.name]"></app-table-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <app-pagination [totalItems]="tableService.pagination.totalItems" [itemsPerPage]="tableService.pagination.pageSize"
    (pageChanged)="onPageChanged($event)"></app-pagination>
</div>