<div class="edit-modal container">
  <form [formGroup]="editForm" (ngSubmit)="editQuote()" class="form">
    <div class="form-group">
      <label for="author">Author</label>
      <ng-select #authorSelect [items]="authors" [selectOnTab]="true" [clearable]="false" bindValue="_id" bindLabel="fullName"
        placeholder="Select Author" formControlName="author">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="author">Categories</label>
      <ng-select [items]="categories" [multiple]="true" [closeOnSelect]="false" bindValue="_id" bindLabel="name"
        placeholder="Select Categories" formControlName="categories">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea type="text" rows="3" id="text" class="form-control" formControlName="text" placeholder="Text"></textarea>
    </div>
    <div class="form-group">
      <label for="photoUrl">Photo</label>
      <input type="input" id="photoUrl" class="form-control" formControlName="photoUrl" placeholder="Photo URL"
        [attr.disabled]="true">
    </div>
    <div class="form-group">
      <app-photo-uploader (uploadSucceed)="photoUploaded($event)"></app-photo-uploader>
    </div>
    <hr>
    <button type="submit" class="btn btn-block btn-primary" [disabled]="editForm.invalid">OK</button>
  </form>
</div>