.quote-detail-container {
  padding: 30px;
}

.card {
  margin-bottom: 15px;
}

.categories-list {
  margin-left: 7px;
  margin-right: 7px;
}

.category-item {
  border-radius: 10px;
}

.fa.fa-quote-left,
.fa.fa-heart,
.fa.fa-share-alt {
  color: #9e9e9e;
}

.pink-color {
  color: #ff4081 !important;
}

.quote-content {
  min-height: 400px;
}

.quote-text {
  font-size: 25px;
}

.quote-author:hover {
  cursor: pointer;
}

.author-name {
  font-size: 20px
}