<div class="d-flex flex-row mb-3">
  <img [src]="comment.user.photoUrl || defaultPhotoUrl" class="card-img-64 rounded-circle border border-primary">
  <div class="media-body text-left ml-3">
    <h5 class="mt-0 mb-0">
      <a class="username">{{ comment.user.username }}</a>
      <a *ngIf="canDelele" class="pull-right">
        <i class="fa fa-remove red-text"></i>
      </a>
    </h5>
    <p class="datetime mb-0"><i class="fa fa-clock-o"></i> {{ comment.createdAt | date:'medium' }}</p>
    <p class="mb-0">{{ comment.content }}</p>
  </div>
</div>