<app-banner [imageUrl]="bannerImageUrl">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="banner-text text-center">Categories</h1>
  </div>
</app-banner>
<div class="categories-container container-fluid">
  <app-sort-bar [modalTitle]="modalTitle" [modalSortOptions]="modalSortOptions" (sortChanged)="onSortChanged($event)"></app-sort-bar>
  <div class="dropdown-divider"></div>
  <div class="row">
    <div *ngFor="let category of categories; let index = index" class="col-xl-3 col-lg-4 col-md-6 pt-3 pb-3">
      <app-category-card [headerClasss]="getColorClass(index)" [category]="category"></app-category-card>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="d-flex flex-column justify-content-center align-items-center mt-4">
    <app-pagination [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.pageSize" (pageChanged)="onPageChanged($event)"></app-pagination>
  </div>
</div>