.background-image {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://images.pexels.com/photos/1170572/pexels-photo-1170572.jpeg?auto=compress&cs=tinysrgb');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.invalid-message {
  font-size: 14px;
  color: #ff4444;
}
