<div class="add-modal container">
  <form [formGroup]="addForm" (ngSubmit)="addQuote()" class="form">
    <div class="form-group">
      <label for="author">Author</label>
      <select id="author" class="form-control" formControlName="author">
        <option *ngFor="let author of authors" [value]="author._id">{{ author.fullName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="categories">Categories</label>
      <select id="categories" class="form-control" formControlName="categories">
        <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea type="text" rows="3" id="text" class="form-control" formControlName="text" placeholder="Text"></textarea>
    </div>
    <div class="form-group">
      <label for="photoUrl">Photo</label>
      <input type="input" id="photoUrl" class="form-control" formControlName="photoUrl" placeholder="Photo URL">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Add</button>
  </form>
</div>