<div mdbModal class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="sortModal">
  <div class="modal-dialog modal-dialog-centered modal-notify" role="document">
    <div class="modal-content">
      <div class="modal-header primary-color">
        <p class="heading lead">Sort Quotes</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="sort-option row d-flex flex-column align-items-center flex-row border border-info rounded"
            (click)="select('text')">
            <i class="fa fa-sort-alpha-asc fa-3x animated rotateIn"></i>
            <span class="sort-name mt-2">ALPHABETICAL</span>
          </div>
          <div class="sort-option row d-flex flex-column align-items-center flex-row border border-info rounded"
            (click)="select('_createdAt')">
            <i class="fa fa-clock-o fa-3x animated rotateIn"></i>
            <span class="sort-name mt-2">LASTEST</span>
          </div>
          <div class="sort-option row d-flex flex-column align-items-center flex-row border border-info rounded"
            (click)="select('mostLove')">
            <i class="fa fa-heart fa-3x animated rotateIn"></i>
            <span class="sort-name mt-2">MOST LOVE</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" mdbBtn block="true" color="primary" class="waves-effect" mdbWavesEffect (click)="hide()"
          data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>