<div class="card">
  <div class="card-header white-text blue-gradient">COMMENTS</div>
  <div class="card-body">
    <div *ngFor="let comment of comments">
      <app-comment-item [comment]="comment" (deleteSuccess)="onDeleteSuccess($event)"></app-comment-item>
    </div>
    <div *ngIf="isLoggedIn()">
      <form [formGroup]="commentForm">
        <div class="d-flex flex-row">
          <div class="md-form flex-grow-1">
            <textarea type="text" id="text" formControlName="content" class="md-textarea form-control pt-0" rows="3"
              placeholder="Enter your comment"></textarea>
          </div>
          <div class="align-self-center">
            <button type="submit" class="btn blue-gradient pl-3 pr-3 h-100" (click)="postComment()"
              [disabled]="commentForm.invalid">
              <i class="fa fa-lg fa-send-o"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <app-pagination [pagesPerSide]="1" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.pageSize"
        (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
  </div>
</div>