<app-banner [height]="'25%'" [imageUrl]="bannerImageUrl">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Quotes</h1>
  </div>
</app-banner>
<app-panel class="flex-grow-1">
  <div class="panel-content">
    <div class="row">
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
      <div class="col-md-3">
        <app-quote-card [header]="'Header'" [title]="'Title'" [text]="sampleText"></app-quote-card>
      </div>
    </div>
  </div>
</app-panel>