<div class="table-responsive">
  <table class="table table-hover">
    <thead class="primary-color white-text">
      <tr>
        <th *ngFor="let header of headerElements" scope="col">{{ header.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of tableElements">
        <td *ngFor="let header of headerElements">{{ element[header.id] }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <app-pagination [totalItems]="tableService.pagination.totalItems" [itemsPerPage]="tableService.pagination.pageSize"
    (pageChanged)="onPageChanged($event)"></app-pagination>
</div>