.sort-modal {
  width: 70vw;
  max-width: 500px;
}

.sort-option {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
}

.sort-option:hover {
  cursor: pointer;
}

.sort-name {
  font-size: 15px;
}
