<ng-container [ngSwitch]="cellType">
  <app-id-table-cell *ngSwitchCase="'IdTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-id-table-cell>
  <app-text-table-cell *ngSwitchCase="'TextTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-text-table-cell>
  <app-truncated-text-table-cell *ngSwitchCase="'TruncatedTextTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-truncated-text-table-cell>
  <app-date-table-cell *ngSwitchCase="'DateTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-date-table-cell>
  <app-actions-table-cell *ngSwitchCase="'ActionsTableCellComponent'" [column]="column" [row]="row" [cell]="cell"
    [cellChanged]="cellChanged"></app-actions-table-cell>
  <app-text-table-cell *ngSwitchDefault [column]="column" [row]="row" [cell]="cell"></app-text-table-cell>
</ng-container>