<app-banner [height]="'25%'" [imageUrl]="bannerImageUrl">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Quote Manager</h1>
  </div>
</app-banner>
<app-panel>
  <div class="panel-content">
    <div class="container-fluid">
      <app-datatable [headElements]="headElements" [elements]="elements"></app-datatable>
      <app-admin-quote-add-modal (ok)="addQuote($event)"></app-admin-quote-add-modal>
      <div class="dropdown-divider"></div>
      <button type="button" mdbBtn color="primary" (click)="addModal.show()" mdbWavesEffect>Add Quote</button>
    </div>
  </div>
</app-panel>